*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

.hero-image{
  background-image:  url("assets/images/code1.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#main-title {
  color: #bd7a21;
  font-family: "Amatic SC", cursive;
  font-size: 120px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#sub-title{
  color: #597332;
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
  padding: 10px 0px;
  margin: 0;
}

nav {
  display: flexbox;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0px 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  /* font-weight: bold; */
}

nav a {
  text-decoration: none;
  color: #423f3f;
}

nav a:hover {
  color: #a2a2a2;
}

.header-img{
  height: auto;
}

.hackathon{
  display: grid;
  grid-template-columns: auto auto;
}

.section-heading{
  font-size: 40px;
  color: #3C4959;
  text-align: center;
  font-family: "Amatic SC", cursive;
  margin: 20px;
  grid-column: 1/ span 2;
}

.title{
  color: #597332;
  font-family: "Kodchasan", sans-serif;
  font-size: 24px;
  margin-left: 50px;
  margin-top: 20px;
  width: 90%;
  grid-column: 1;
}

.about-text{
  display: flex;
  flex-direction: column;
}

.intro-text{
  color: #191C26;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  margin-left: 50px;
  width: 90%;
  grid-column: 1;
}

.intro-text a{
  color: #bd7a21;
  text-decoration: none;
}

.intro-text a:hover{
  color: #3C4959;
}

.image-about{
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
}

.about-image{
  width: 90%;
  height: auto;
  object-fit: cover;
}

.center-content{
  display: flex;
}

.schedule-img{
  width: 50%;
  display: flex;
  justify-content: center;
}

.planner-img{
  width: 90%;
  height: auto;
  object-fit: cover;
}

.schedule-text{
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;

}

.time{
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5px;
  color: #597332;
  text-align: center;
}

.event{
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5px;
  color: #597332;
  text-align: center;
}

.register-article{
  background-color: #EAEAEA;
}

.register-info{
  height: 200px;
}

.register-text{
  text-align: center;
}

.faqarticle{

}


.question{
  text-align: center;
  font-size: 24px;
  font-family: 'Josefin Slab', serif;
  color: #597332;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.answer{
  text-align: center;
  color: #bd7a21;
  font-family: 'Josefin Slab', serif;
  margin: 30px;
  list-style: none;
}
